@media all and (max-width: 1279px) {

	html {
		font-size: 9px;
	}
	
	/*header*/
	header .logo img {
		width: 120px;
		padding: 25px 0 20px 0;
	}

	/*search*/
	.search_inner {
		position: absolute;
		left: 0;
		top: 28px;
	}

	/*sidebar*/
	.sidebar_btn {
		position: absolute;
		display: block;
		right: 0;
		top: 33px;
		width: 25px;
		height: 20px;
	}

	.sidebar_inner .logo img {
		width: 120px;
	}

	.sidebar_inner .close {
		position: absolute;
		top: 30px;
		right: -7px;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.sidebar_inner #sidebar_gnb {
		position: absolute;
		top: 110px;
		right: 0px;
	}

	/*main*/
	main {
		width: 100%;
		height: auto;
		margin-top: 186px;/*86px은 헤더 값*/
	}

	#sect05 i {
		font-size: 35px;
	}

	/*footer*/
	footer .left_wrap .logo_icon img {
		width: 120px;
	}

	footer .right_wrap .contact_wrap .num {
		padding-top: 25px;
	}

}